h3,
p {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 150px;
  justify-content: center;
  gap: 25px;
}

.col-span-4 {
  grid-column: span 4;
}

.services-item {
  --col-span: 1;
  --row-span: 1;
  grid-column: span var(--col-span);
  grid-row: span var(--row-span);
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 5px 4px rgb(244, 244, 244);
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
}

.services-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}

.services-item .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.services-item:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay h3,
.overlay p {
  color: white;
}

.overlay h3 {
  font-size: 1.4rem;
}

.overlay p {
  font-size: 1rem;
  margin: 0;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }

  .one {
    --col-span: 2;
    --row-span: 2;
  }
  .four {
    --col-span: 2;
  }
  .five {
    --col-span: 4;
  }
}
